@charset "UTF-8";

.ons-pricing-logo img {
	height: 50px;
	max-width: none;
}

.ons-pricing-row-modules img {
	height: 50px;
    max-width: none;
}

input[type="checkbox"] {
	height: 20px;
	width: 20px;
}

.ons_cust_table_deliveries th,
.ons_cust_table_deliveries td {
    padding-left: 15px !important;
}

.ons_cust_table_deliveries {
    margin-bottom: 0 !important;
}

.ons-pricing-area {
	transition-property: background-color;
    transition-duration: 1s;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.ons-pricing-row {
	padding: 10px 0 5px 0;
}

.ons-pricing-row-modules {
	padding: 0 0 0 0;
	display: flex;
    flex-wrap: wrap;
}

.ons-pricing-row-include {
	padding: 0 0 15px 0;
}

.ons-pricing-app {
	display: inline-block;
}

.ons-pricing-logo-image {
	padding: 0px 0px 5px 0px;
}

.ons-pricing-info:not(.hide) {
 	transition: max-height .3s ease-in-out,margin-bottom .1s .2s;
}

.area-checkbox {
	display: inline-block;
	float: right;
}

.selected {
	border: 1px solid #00bcd4;
}

/*.bs-sidebar {
	margin-right: 217px;
	position: fixed;
}*/

@media (max-width: 990px) {
	.bs-sidebar {
		position: relative;
		margin-right: auto;
		z-index: none;
	}
}

.ons-hosting-title {
	margin-top: 0;
}

.ons-pricing-user-title {
	margin-top: 5px !important;
}

.scrollToTop {
	width: 30px; 
	height: 30px;
	text-align: center; 
	background-color: transparent;
	font-weight: bold;
	color: #444;
	text-decoration: none;
	position: fixed;
	bottom: 75px;
	right: 40px;
	display: none;
	z-index: 1;
}
.scrollToTop:hover {
	text-decoration: none;
}

#sendSucces {
	padding: 10px;
	font-size: 16px;
}

#sendError {
	padding: 10px;
	font-size: 16px;
}

.follow-scroll {
	position: absolute;
}